<h1 class="margin ">List of Genres</h1>
<hr />
<div class="container_tp">
  <div class="card w-96 bg-base-100 shadow-xl m-5" *ngFor="let genre of genres">
    <div >
      <figure *ngIf="genre.image">
        <img [src]="BACKEND_URL + genre.image" class="object-right-top object-cover h-60  w-full rounded-tr-xl rounded-tl-xl"  alt="1" />
      </figure>
    </div>
    <div class=" card-body w-96">
      <span class="card-title"> {{ genre.title }}</span>
      <div class="card-actions justify-end ">
        <a class="btn btn-outline mr-2" routerLink="/editGenre/{{ genre.id }}"
        >Edit</a
        >
        <button
          class="btn btn-outline btn-error"
          onclick="document.getElementById('modalDelete').show()"
          (click)="currentGenreTitle = genre.title; currentGenreId = genre.id"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<dialog id="modalDelete" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Genre!</h3>
    <p class="py-4">
      Are you sure you want to delete the <b>{{currentGenreTitle}} genre</b>?
    </p>
    <p>This action cannot be undone.</p>
    <div class="modal-action">
      <input type="hidden" id="globalId" value="" />
      <a class="btn btn-error" id="deleteLink" (click)="deleteGenre(currentGenreId)">Yes</a>
      <button
        id="closeModal"
        class="btn"
        onclick="document.getElementById('modalDelete').close();"
      >
        Close
      </button>
    </div>
  </div>
</dialog>
