{% extends "layout.html" %} {% block content %} {% load i18n %}

<h1>{% translate 'Practical Work 1 - Technologies and Web Programming' %}</h1>
<hr />
<br />
<textarea
  class="form-control textarea-lg bg-transparent"
  style="width: 100%; height: 25vh"
  disabled
>
    {% translate 'In this project, we are dedicated to designing a music streaming application, based on the powerful Django framework. This initiative aims to deepen and apply the knowledge acquired in the Technologies and Web Programming course at the University of Aveiro.' %}

    {% translate 'Our goal is to develop an innovative platform that allows users to enjoy their favorite music with an elegant and functional interface. Through this project, we will explore and apply web development principles, as well as advanced concepts of the Django framework, to create a high-quality music streaming experience.' %}
</textarea>

<h2>Authors:</h2>
<ul>
  <li style="list-style: circle; margin-left: 3%">Diana Miranda (107457)</li>
  <li style="list-style: circle; margin-left: 3%">José Gameiro (108840)</li>
  <li style="list-style: circle; margin-left: 3%">Miguel Belchior (108287)</li>
</ul>

{% endblock %}
