body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Century Gothic', 'URW Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("../images/bg.jpg");
    background-size: cover;
}

.main_ia{
    width: 500px;
    height: 600px;
    background: red;
    overflow: hidden;
    background: url("../images/bg.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk{
    display: none;
}

.singup_tp{
    position: relative;
    height: 100%;
    width: 100%;
}

label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 300px;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

input:invalid{
    animation: shake 300ms;
}
@keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}

.button_tp{
    width: 250px;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.button_tp:hover{
    background: #6d44b8;
}

.login_tp{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-280px);
    transition: .8s ease-in-out;
}

.login_tp label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login_tp{
    transform: translateY(-600px);
}

#chk:checked ~ .login_tp label{
    transform: scale(1);
}

#chk:checked ~ .singup_tp label{
    transform: scale(.6);
}

.brand_tp img{
    width: 44px;
    padding: 0 8px;
}

.brand_tp{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
}