
<div>
  <h1>Admin Panel</h1>
  <h2>Songs</h2>
  <div class="tasks">
    <a class="btn_tp" routerLink="/addMusic">Add</a>
    <a class="btn_tp" routerLink="/musics">All Songs</a>
  </div>
  <hr />
  <h2>Genre</h2>
  <div class="tasks">
    <a class="btn_tp" routerLink="/addGenre">Add</a>
    <a class="btn_tp" routerLink="/genres">All Genres</a>
  </div>
  <hr />
  <h2>Albums</h2>
  <div class="tasks">
    <a class="btn_tp" routerLink="/addAlbum">Add</a>
    <a class="btn_tp" routerLink="/albums">All Albums</a>
  </div>
  <hr />
  <h2>Artists</h2>
  <div class="tasks">
    <a class="btn_tp" routerLink="/addArtist">Add</a>
    <a class="btn_tp" routerLink="/artists">All Artists</a>
  </div>
  <hr />
  <h2>Bands</h2>
  <div class="tasks">
    <a class="btn_tp" routerLink="/addBand">Add</a>
    <a class="btn_tp" routerLink="/bands">All Bands</a>
  </div>
  <hr />
</div>

