{% extends "layout.html" %} {% block content %} {% load static %} {% load i18n %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/listMusics.css' %}"
/>

<h1 class="margin">{% translate 'List of Songs' %}</h1>
<hr />
<div class="container_tp">
  {% for song in songs %}
  <div class="card_tp bg-base-100 shadow-xl">
    <figure>
      <img class="image_tp image-full" src="{{ song.image.url }}" alt="1" />
    </figure>
    <div class="songitem_tp card-body">
      <span class="songName card-title"> {{ song.name }}</span>
      <span class="songPerformer m-5"> {{ song.performer.name }} </span>
      <div class="card-actions justify-end">
        <a class="badge badge-outline" href="{% url 'editMusic' song.id%}"
          >{% translate 'Edit' %}</a
        >
        <button
          class="badge badge-outline btn-error"
          onclick="showModal(this)"
          data-song-name="{{ song.name }}"
          data-song-id="{{ song.id }}"
        >
          {% translate 'Delete' %}
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<dialog id="modalDelete" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Song!</h3>
    <p class="py-4"></p>
    <div class="modal-action">
      <input type="hidden" id="globalSongId" value="" />
      <a class="btn btn-error" id="deleteLink">Yes</a>
      <button
        class="btn"
        onclick="document.getElementById('modalDelete').close()"
      >
        Close
      </button>
    </div>
  </div>
</dialog>

<script>
  let globalSongName;
  let globalSongId;
  window.showModal = function (button) {
    globalSongName = button.getAttribute("data-song-name");
    globalSongId = button.getAttribute("data-song-id");
    document.getElementById("globalSongId").value = globalSongId;
    var modalText = document.querySelector("#modalDelete p");
    var modalDelete = document.querySelector("#modalDelete");
    modalText.innerHTML =
      "{% translate 'Are you sure you want to delete the following song: ' %}<b>" + globalSongName + "</b>?";
    document.getElementById("deleteLink").href =
      "deleteSong/" + document.getElementById("globalSongId").value;

    modalDelete.showModal();
  };
</script>

{% endblock %}
