<app-error-display [error_messages]="auth_errors"></app-error-display>
<div class="main_ia">
  <a href="/">
    <label class="brand_tp"><img src="/assets/images/logo.png" alt="Logo" height="840" width="840"/>Music Streaming</label>
  </a>

  <input type="checkbox" id="chk" aria-hidden="true" />
  <!--SIGNIN-->
  <input type="checkbox" id="chk" aria-hidden="true" />
  <!--LOGIN-->

  <div class="singup_tp">
    <form [formGroup]="signup_form" (ngSubmit)="signup()">
      <label for="chk" aria-hidden="true" style="margin: 10px">Sign up</label>
      <input type="email" formControlName='email' name="email" class="input-bordered input-sm w-full max-w-xs bg-primary-content" id="InputEmail1" placeholder="Email address" aria-describedby="emailHelp" maxlength="40" required>
      <input type="text" formControlName='username' name="username" maxlength="150" autofocus class="input-bordered input-sm w-full max-w-xs bg-primary-content" id="InputUsername1" placeholder="Username" aria-describedby="usernameHelp" required>
      <input type="password" formControlName='password1' name="password1" autocomplete="new-password" class="input-bordered input-sm w-full max-w-xs bg-primary-content" placeholder="Password" id="InputPassword1" required>
      <input type="password" formControlName='password2' name="password2" autocomplete="new-password" class="input-bordered input-sm w-full max-w-xs bg-primary-content" placeholder="Confirm Password" id="InputPassword2" required>
      <button class="button_tp" type="submit">Sign up</button>
    </form>
  </div>

  <div class="login_tp">
    <form [formGroup]="signin_form" (ngSubmit)="signin()">
      <label for="chk" aria-hidden="true">Log in</label>
      <div>
        <input type="text" formControlName="username" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="input w-full bg-primary-content"
               id="InputUsername3" placeholder="Username" aria-describedby="usernameHelp" required>
      </div>
      <div><input type="password" formControlName="password" name="password" autocomplete="current-password" class="input w-full bg-primary-content" placeholder="Password" id="InputPassword3" required></div>
      <button class="button_tp" type="submit">Log in</button>
    </form>
  </div>
</div>
