<h1 class="margin ">List of Musics</h1>
<hr />
<div class="container_tp">
  <div class="card w-96 bg-base-100 shadow-xl m-5" *ngFor="let music of musics">
    <div >
      <figure *ngIf="music.image">
        <img [src]="BACKEND_URL + music.image" class="object-right-top object-cover h-60  w-full rounded-tr-xl rounded-tl-xl"  alt="1" />
      </figure>
    </div>
    <div class=" card-body w-96">
      <span class="card-title"> {{ music.name }}</span>
      <div class="card-actions justify-end ">
        <a class="btn btn-outline mr-2" routerLink="/editMusic/{{ music.id }}"
        >Edit</a
        >
        <button
          class="btn btn-outline btn-error"
          onclick="document.getElementById('modalDelete').show()"
          (click)="currentMusicName = music.name; currentMusicId = music.id"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<dialog id="modalDelete" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Music!</h3>
    <p class="py-4">
      Are you sure you want to delete the Music <b>{{currentMusicName}}</b>?
    </p>
    <p>This action cannot be undone.</p>
    <div class="modal-action">
      <input type="hidden" id="globalId" value="" />
      <a class="btn btn-error" id="deleteLink" (click)="deleteMusic(currentMusicId)">Yes</a>
      <button
        id="closeModal"
        class="btn"
        onclick="document.getElementById('modalDelete').close();"
      >
        Close
      </button>
    </div>
  </div>
</dialog>
