<app-error-display [error_messages]="submit_errors"></app-error-display>
<div class="">
  <section id="add_edit_Genre">
    <ng-template #bandAction>{{ id ? 'Edit Band' : 'Add Band' }}</ng-template>

    <h1 class="margin"><ng-container *ngTemplateOutlet="bandAction"></ng-container></h1>
    <form [formGroup]="addBandForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <hr />
      <div class="form-group mt-[30px]">
        <label class="text-xl">Name</label>
        <br />
        <input type="text" placeholder="Name" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="name"/>
        <br />
        <label class="text-xl">Description</label>
        <br />
        <input type="text" placeholder="Description" class="input w-full max-w-3xl mb-[30px] mt-[3px]"  formControlName="description"/>
        <br />
        <label class="text-xl">Image</label>
        <br />
        <input type="file" class="file-input file-input-bordered w-full max-w-lg mb-[30px]" (change)="onFileChange($event)"/>
        <div role="alert" class="alert alert-error" *ngIf="addBandForm.get('image')?.errors?.['invalidFileType']">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>ERROR! Invalid Type of file. You should submit a .jpeg, .jpg or .png file!</span>
        </div>
        <br />
        <label class="text-xl">Members</label>
        <br />
        <div class="form-control max-w-xs " *ngFor="let member of members.controls; let i = index">
          <label class="label cursor-pointer">
            <span class="label-text text-xl">{{ artists[i].name }}</span>
            <input type="checkbox" checked="checked" class="checkbox" [formControl]="getMemberFormControl(i)"/>
          </label>
        </div>
        <br />
      </div>
      <div >
        <button class="btn btn-primary" type="submit"><ng-container *ngTemplateOutlet="bandAction"></ng-container></button>
      </div>
    </form>
  </section>
</div>
